<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>SimpleBankingSOAPService</display-name>

    <!-- JAAS config -->
    <context-param>
        <param-name>java.security.auth.login.config</param-name>
        <!-- Make sure the path is correct and points to the location of your jaas.config inside the WAR -->
        <param-value>/WEB-INF/classes/jaas.config</param-value>
    </context-param>

    <servlet>
        <servlet-name>SimpleCXFNonSpringServlet</servlet-name>
        <servlet-class>it.univaq.sose.simplebankingsoapservice.SimpleBankingSoapServiceApplication</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleCXFNonSpringServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>it.univaq.sose.simplebankingsoapservice.config.BankAppConfigListener</listener-class>
    </listener>


    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>